<a href="https://colab.research.google.com/github/IrvanApdila/Data-Miningg/blob/main/124_Irvan_Apdila_posstest_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (1) Apriori

Gunakan dataset ini : https://drive.google.com/file/d/1BqC-2d1ZYqFIFwdjdsW5bAAqNFh2AO4C/view?usp=share_link

Dan buatlah daftar support dan confidence untuk 2 item set dengan menggunakan dataset tersebut (hint : buatlah tabel tabulasi terlebih dahulu untuk memudahkan)

In [33]:
import csv

# Baca dataset menggunakan csv.reader
with open('dataset_market_basket.txt', 'r') as file:
    reader = csv.reader(file)
    dataset = list(reader)

# Buat tabel tabulasi
tabulasi = {}
for transaction in dataset:
    for item in transaction:
        if item in tabulasi:
            tabulasi[item] += 1
        else:
            tabulasi[item] = 1

# Print tabel tabulasi
for item in tabulasi:
    print(item, ':', tabulasi[item])

whole milk : 5
pastry : 1
salty snack : 1
sausage : 4
semi-finished bread : 1
yogurt : 1
soda : 3
pickled vegetables : 1
canned beer : 1
misc. beverages : 1
hygiene articles : 1
rolls/buns : 4
frankfurter : 2
whipped/sour cream : 1
curd : 1
beef : 1
white bread : 1
butter : 1
frozen vegetables : 1
other vegetables : 1
tropical fruit : 1
sugar : 1
butter milk : 1
specialty chocolate : 1
frozen meals : 1
dental care : 1
root vegetables : 1
detergent : 1
dish cleaner : 1
cling film/bags : 1

In [34]:


# Transformasikan data menjadi format list setiap transaksi
transactions = [set(transaction) for transaction in transactions]

# Terapkan algoritma Apriori
results = list(apriori(transactions))

# Tampilkan daftar support dan confidence untuk 2 item set
for relation_record in results:
    items = relation_record.items
    if len(items) == 2:
        support = relation_record.support
        confidence = relation_record.ordered_statistics[0].confidence
        print(f'{items} => support: {support:.3f}, confidence: {confidence:.3f}')

frozenset({'rolls/buns', 'sausage'}) => support: 0.105, confidence: 0.105
frozenset({'sausage', 'whole milk'}) => support: 0.105, confidence: 0.105

#(2) KNN

Gunakan dataset ini : https://drive.google.com/file/d/1pXAJZZXCXosf0PTJkyogopKaPFxCYl22/view?usp=share_link

Kemudian buatlah tabel jarak berdasarkan data berikut ini : 

![Gambar]()
<!-- 1412 -->

In [36]:
import pandas as pd
import numpy as np

# Load dataset
data = pd.read_csv('deteksi_uang_palsu.csv')


# Membuat fungsi untuk menghitung jarak
def hitung_jarak(data, x, y):
    jarak = np.sqrt((data['diagonal']-x)**2 + (data['height_left']-y)**2)
    return jarak

In [37]:
# 1. Tambahkan kolom jarak untuk menampilkan jarak dari dataset terhadap target prediksi

# Menambahkan kolom jarak pada dataset
data['jarak'] = hitung_jarak(data, 171, 104)

In [38]:
# 2. Urutkan data berdasarkan K jarak terdekat (Untuk K nya ambil akar 2 dari banyak data)

# Mengurutkan data berdasarkan jarak terdekat
k = int(np.sqrt(len(data)))
data_sorted = data.sort_values(by=['jarak'])[:k]

In [41]:
# 3. Tentukan apa hasil prediksinya berdasarkan label terbanyak
# Menentukan label terbanyak sebagai hasil prediksi
hasil_prediksi = data_sorted['jarak'].value_counts().idxmax()

print('Hasil prediksi:', hasil_prediksi)

Hasil prediksi: 0.5608029957124004

# (3) Analisis

> Nama :Irvan Apdila

> Nim : 2109116124

> Tema : pendidikan

>judul : U.S. Education Datasets: Unification Project

Penjelasan posttest : 

Pilihlah salah satu tema dari daftar tema ini :  
1. Perbankan
2. Kesehatan
3. Ritel
4. Pendidkan

Kemudian lakukan analisis dengan menggunakan struktur CRISP-DM

Dimulai dari Business Understanding Hingga Data Preparation 
<img src="https://th.bing.com/th/id/R.f8efea41ae3cd96d86fbc5b10f81ad77?rik=K4Dr%2biIaVGvW8g&riu=http%3a%2f%2fwww.dataprix.com%2ffiles%2fCRISPDM%2fMetodologia_CRISP_DM1_html_52cdbecf.png&ehk=6ONLJMCVxE421Sjt2JJPE6MfCzrL7LLhDZQPdkJTLcw%3d&risl=&pid=ImgRaw&r=0"/>

Tentukan judul dengan ketentuan setiap orang di kelas beda-beda judulnya dan sumber datasetnya (contoh bisa prediksi atau aturan asosiasi)

Catatan : Tugas ini akan berhubungan dengan posttest terakhir (pertemuan 6)

# **Business Understanding**

**Determine Business Objective:** Menganalisis data untuk mendapatkan insight dan informasi yang dapat digunakan untuk meningkatkan kualitas pendidikan di Amerika Serikat.

**Assess Situation:** Data yang digunakan dalam analisis ini merupakan gabungan dari beberapa sumber data pendidikan di Amerika Serikat, yang bertujuan untuk memudahkan akses dan penggunaan data secara komprehensif.

**data Mining Goals:** Menganalisis korelasi antara faktor-faktor pendidikan dengan performa akademik siswa di Amerika Serikat, sehingga dapat memberikan informasi penting untuk perbaikan dan pengembangan sistem pendidikan di negara tersebut.

**Produce Project Plan:** Membuat rencana analisis data yang terdiri dari tahap-tahap seperti data understanding, data preparation, modeling, evaluation, dan deployment.

# **Data Understanding**

In [ ]:

import pandas as pd

# Membaca file CSV menggunakan Pandas
df = pd.read_csv('states_all.csv')

# Melakukan describe data
df_desc = df.describe()

# Menampilkan hasil describe data
print(df_desc)

              YEAR        ENROLL  TOTAL_REVENUE  FEDERAL_REVENUE  \
count  1715.000000  1.224000e+03   1.275000e+03     1.275000e+03
mean   2002.075219  9.175416e+05   9.102045e+06     7.677799e+05
std       9.568621  1.066514e+06   1.175962e+07     1.146992e+06
min    1986.000000  4.386600e+04   4.656500e+05     3.102000e+04
25%    1994.000000  2.645145e+05   2.189504e+06     1.899575e+05
50%    2002.000000  6.499335e+05   5.085826e+06     4.035480e+05
75%    2010.000000  1.010532e+06   1.084516e+07     8.279320e+05
max    2019.000000  6.307022e+06   8.921726e+07     9.990221e+06

       STATE_REVENUE  LOCAL_REVENUE  TOTAL_EXPENDITURE  \
count   1.275000e+03   1.275000e+03       1.275000e+03
mean    4.223743e+06   4.110522e+06       9.206242e+06
std     5.549735e+06   5.489562e+06       1.199279e+07
min     0.000000e+00   2.209300e+04       4.816650e+05
25%     1.165776e+06   7.151210e+05       2.170404e+06
50%     2.537754e+06   2.058996e+06       5.242672e+06
75%     5.055548e+06   4.755293e+06       1.074420e+07
max     5.090457e+07   3.610526e+07       8.532013e+07

       INSTRUCTION_EXPENDITURE  SUPPORT_SERVICES_EXPENDITURE  \
count             1.275000e+03                  1.275000e+03
mean              4.768010e+06                  2.682587e+06
std               6.300569e+06                  3.357214e+06
min               2.655490e+05                  1.399630e+05
25%               1.171336e+06                  6.380760e+05
50%               2.658253e+06                  1.525471e+06
75%               5.561959e+06                  3.222924e+06
max               4.396452e+07                  2.605802e+07

       OTHER_EXPENDITURE  ...     GRADES_4_G     GRADES_8_G    GRADES_12_G  \
count       1.224000e+03  ...    1632.000000    1632.000000    1632.000000
mean        4.299509e+05  ...   69166.507966   68106.537377   58420.870711
std         5.347893e+05  ...   79957.990356   77965.847263   67438.530709
min         1.154100e+04  ...    4577.000000    3371.000000    2572.000000
25%         1.034492e+05  ...   18971.500000   19594.250000   16076.500000
50%         2.717040e+05  ...   49087.000000   47880.000000   39408.000000
75%         5.172222e+05  ...   78504.250000   78976.000000   69397.250000
max         3.995951e+06  ...  493415.000000  500143.000000  498403.000000

       GRADES_1_8_G  GRADES_9_12_G  GRADES_ALL_G  AVG_MATH_4_SCORE  \
count  1.020000e+03   1.071000e+03  1.632000e+03        565.000000
mean   5.779547e+05   2.820691e+05  9.139695e+05        236.327434
std    6.757837e+05   3.307098e+05  1.055893e+06          9.285505
min    3.769800e+04   1.353000e+04  6.844900e+04        192.000000
25%    1.649250e+05   8.060800e+04  2.480832e+05        232.000000
50%    4.051115e+05   1.869190e+05  6.458050e+05        238.000000
75%    6.439752e+05   3.223280e+05  1.043420e+06        242.000000
max    3.929869e+06   2.013687e+06  6.441557e+06        253.000000

       AVG_MATH_8_SCORE  AVG_READING_4_SCORE  AVG_READING_8_SCORE
count        602.000000           650.000000           562.000000
mean         278.280731           218.806154           263.558719
std           10.343482             7.681805             6.612601
min          231.000000           179.000000           236.000000
25%          272.000000           215.000000           260.000000
50%          280.500000           220.000000           265.000000
75%          286.000000           224.000000           268.000000
max          301.000000           237.000000           280.000000

[8 rows x 23 columns]

In [ ]:
# Melihat jumlah data yang hilang pada setiap kolom
print(df.isnull().sum())

PRIMARY_KEY                        0
STATE                              0
YEAR                               0
ENROLL                           491
TOTAL_REVENUE                    440
FEDERAL_REVENUE                  440
STATE_REVENUE                    440
LOCAL_REVENUE                    440
TOTAL_EXPENDITURE                440
INSTRUCTION_EXPENDITURE          440
SUPPORT_SERVICES_EXPENDITURE     440
OTHER_EXPENDITURE                491
CAPITAL_OUTLAY_EXPENDITURE       440
GRADES_PK_G                      173
GRADES_KG_G                       83
GRADES_4_G                        83
GRADES_8_G                        83
GRADES_12_G                       83
GRADES_1_8_G                     695
GRADES_9_12_G                    644
GRADES_ALL_G                      83
AVG_MATH_4_SCORE                1150
AVG_MATH_8_SCORE                1113
AVG_READING_4_SCORE             1065
AVG_READING_8_SCORE             1153
dtype: int64

In [ ]:
# Melihat tipe data pada setiap kolom
print(df.dtypes)

In [21]:
# Melihat statistik deskriptif dari setiap kolom
print(df.describe())

             ENROLL  TOTAL_REVENUE  FEDERAL_REVENUE  STATE_REVENUE  \
count  1.715000e+03   1.715000e+03     1.715000e+03   1.715000e+03
mean   9.175416e+05   9.102045e+06     7.677799e+05   4.223743e+06
std    9.008956e+05   1.013847e+07     9.888707e+05   4.784665e+06
min    4.386600e+04   4.656500e+05     3.102000e+04   0.000000e+00
25%    4.646880e+05   2.992297e+06     2.602770e+05   1.618602e+06
50%    9.175416e+05   8.363904e+06     6.890720e+05   3.920971e+06
75%    9.175416e+05   9.102045e+06     7.677799e+05   4.223743e+06
max    6.307022e+06   8.921726e+07     9.990221e+06   5.090457e+07

       LOCAL_REVENUE  TOTAL_EXPENDITURE  INSTRUCTION_EXPENDITURE  \
count   1.715000e+03       1.715000e+03             1.715000e+03
mean    4.110522e+06       9.206242e+06             4.768010e+06
std     4.732787e+06       1.033950e+07             5.431992e+06
min     2.209300e+04       4.816650e+05             2.655490e+05
25%     1.162580e+06       3.004448e+06             1.570157e+06
50%     3.566484e+06       8.488521e+06             4.224716e+06
75%     4.110522e+06       9.206242e+06             4.768010e+06
max     3.610526e+07       8.532013e+07             4.396452e+07

       SUPPORT_SERVICES_EXPENDITURE  OTHER_EXPENDITURE  \
count                  1.715000e+03       1.715000e+03
mean                   2.682587e+06       4.299509e+05
std                    2.894399e+06       4.517421e+05
min                    1.399630e+05       1.154100e+04
25%                    8.996910e+05       1.624780e+05
50%                    2.503616e+06       4.299509e+05
75%                    2.682587e+06       4.299509e+05
max                    2.605802e+07       3.995951e+06

       CAPITAL_OUTLAY_EXPENDITURE  ...     GRADES_8_G    GRADES_12_G  \
count                1.715000e+03  ...    1715.000000    1715.000000
mean                 9.034675e+05  ...   68106.537377   58420.870711
std                  1.146196e+06  ...   76054.685450   65785.422981
min                  1.270800e+04  ...    3371.000000    2572.000000
25%                  2.608130e+05  ...   20518.500000   17949.000000
50%                  8.285300e+05  ...   50447.000000   40774.000000
75%                  9.034675e+05  ...   76719.500000   68023.000000
max                  1.022366e+07  ...  500143.000000  498403.000000

       GRADES_1_8_G  GRADES_9_12_G  GRADES_ALL_G  AVG_MATH_4_SCORE  \
count  1.715000e+03   1.715000e+03  1.715000e+03       1715.000000
mean   5.779547e+05   2.820691e+05  9.139695e+05        236.327434
std    5.210620e+05   2.612965e+05  1.030010e+06          5.326473
min    3.769800e+04   1.353000e+04  6.844900e+04        192.000000
25%    3.158105e+05   1.457900e+05  2.800010e+05        236.327434
50%    5.779547e+05   2.820691e+05  6.809780e+05        236.327434
75%    5.779547e+05   2.820691e+05  1.002840e+06        236.327434
max    3.929869e+06   2.013687e+06  6.441557e+06        253.000000

       AVG_MATH_8_SCORE  AVG_READING_4_SCORE  AVG_READING_8_SCORE  \
count       1715.000000          1715.000000          1715.000000
mean         278.280731           218.806154           263.558719
std            6.124894             4.726942             3.783105
min          231.000000           179.000000           236.000000
25%          278.280731           218.806154           263.558719
50%          278.280731           218.806154           263.558719
75%          278.280731           218.806154           263.558719
max          301.000000           237.000000           280.000000

       AVG_TOTAL_REV_EXP
count       1.715000e+03
mean        9.154144e+06
std         1.023649e+07
min         4.736575e+05
25%         2.993458e+06
50%         8.435220e+06
75%         9.154144e+06
max         8.726870e+07

[8 rows x 23 columns]

# **Data preparation**

In [22]:

# Memilih kolom yang relevan
df_selected = df[['YEAR', 'STATE', 'AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE', 'AVG_READING_4_SCORE', 'AVG_READING_8_SCORE']]

In [23]:
# mengisi nilai yang hilang dengan nilai rata-rata
df.fillna(df.mean(), inplace=True)

<ipython-input-23-17b8a3e7d618>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(), inplace=True)

In [24]:
# mengecek apakah ada data yang duplikat
print(df.duplicated())

# menghapus data yang duplikat
df.drop_duplicates(inplace=True)

0       False
1       False
2       False
3       False
4       False
        ...
1710    False
1711    False
1712    False
1713    False
1714    False
Length: 1715, dtype: bool

Untuk melakukan pemeriksaan data outliers pada dataset, dapat digunakan teknik seperti box plot atau scatter plot. Setelah ditemukan data outliers, dapat dilakukan penanganan dengan menghapus atau mengganti nilai outliers dengan nilai yang lain.

In [ ]:
# membuat box plot
import matplotlib.pyplot as plt

plt.boxplot(df['column_name'])
plt.show()

In [26]:
# Menambahkan kolom baru dengan nama "AVG_TOTAL_REV_EXP" yang berisi rata-rata total pendapatan dan pengeluaran sekolah
df['AVG_TOTAL_REV_EXP'] = (df['TOTAL_REVENUE'] + df['TOTAL_EXPENDITURE']) / 2

# Menampilkan 5 data pertama dari DataFrame yang telah dimodifikasi
print(df.head())

       PRIMARY_KEY       STATE  YEAR  ENROLL  TOTAL_REVENUE  FEDERAL_REVENUE  \
0     1992_ALABAMA     ALABAMA  1992     NaN      2678885.0         304177.0
1      1992_ALASKA      ALASKA  1992     NaN      1049591.0         106780.0
2     1992_ARIZONA     ARIZONA  1992     NaN      3258079.0         297888.0
3    1992_ARKANSAS    ARKANSAS  1992     NaN      1711959.0         178571.0
4  1992_CALIFORNIA  CALIFORNIA  1992     NaN     26260025.0        2072470.0

   STATE_REVENUE  LOCAL_REVENUE  TOTAL_EXPENDITURE  INSTRUCTION_EXPENDITURE  \
0      1659028.0       715680.0          2653798.0                1481703.0
1       720711.0       222100.0           972488.0                 498362.0
2      1369815.0      1590376.0          3401580.0                1435908.0
3       958785.0       574603.0          1743022.0                 964323.0
4     16546514.0      7641041.0         27138832.0               14358922.0

   ...  GRADES_8_G  GRADES_12_G  GRADES_1_8_G  GRADES_9_12_G  GRADES_ALL_G  \
0  ...     58025.0      41167.0           NaN            NaN      731634.0
1  ...      8789.0       6714.0           NaN            NaN      122487.0
2  ...     49081.0      37410.0           NaN            NaN      673477.0
3  ...     36011.0      27651.0           NaN            NaN      441490.0
4  ...    363296.0     270675.0           NaN            NaN     5254844.0

   AVG_MATH_4_SCORE  AVG_MATH_8_SCORE  AVG_READING_4_SCORE  \
0             208.0             252.0                207.0
1               NaN               NaN                  NaN
2             215.0             265.0                209.0
3             210.0             256.0                211.0
4             208.0             261.0                202.0

   AVG_READING_8_SCORE  AVG_TOTAL_REV_EXP
0                  NaN          2666341.5
1                  NaN          1011039.5
2                  NaN          3329829.5
3                  NaN          1727490.5
4                  NaN         26699428.5

[5 rows x 26 columns]

In [18]:
# Membaca file CSV pertama
df1 = pd.read_csv('states_all.csv')

# Membaca file CSV kedua
df2 = pd.read_csv('states_all_extended.csv')

# Menggabungkan kedua dataset berdasarkan kolom yang sama
df_merged = pd.merge(df1, df2, on='STATE')

# Melakukan describe data
df_desc = df.describe()

# Menampilkan hasil describe data
print(df_desc)

              YEAR        ENROLL  TOTAL_REVENUE  FEDERAL_REVENUE  \
count  1715.000000  1.715000e+03   1.715000e+03     1.715000e+03
mean   2002.075219  9.175416e+05   9.102045e+06     7.677799e+05
std       9.568621  9.008956e+05   1.013847e+07     9.888707e+05
min    1986.000000  4.386600e+04   4.656500e+05     3.102000e+04
25%    1994.000000  4.646880e+05   2.992297e+06     2.602770e+05
50%    2002.000000  9.175416e+05   8.363904e+06     6.890720e+05
75%    2010.000000  9.175416e+05   9.102045e+06     7.677799e+05
max    2019.000000  6.307022e+06   8.921726e+07     9.990221e+06

       STATE_REVENUE  LOCAL_REVENUE  TOTAL_EXPENDITURE  \
count   1.715000e+03   1.715000e+03       1.715000e+03
mean    4.223743e+06   4.110522e+06       9.206242e+06
std     4.784665e+06   4.732787e+06       1.033950e+07
min     0.000000e+00   2.209300e+04       4.816650e+05
25%     1.618602e+06   1.162580e+06       3.004448e+06
50%     3.920971e+06   3.566484e+06       8.488521e+06
75%     4.223743e+06   4.110522e+06       9.206242e+06
max     5.090457e+07   3.610526e+07       8.532013e+07

       INSTRUCTION_EXPENDITURE  SUPPORT_SERVICES_EXPENDITURE  \
count             1.715000e+03                  1.715000e+03
mean              4.768010e+06                  2.682587e+06
std               5.431992e+06                  2.894399e+06
min               2.655490e+05                  1.399630e+05
25%               1.570157e+06                  8.996910e+05
50%               4.224716e+06                  2.503616e+06
75%               4.768010e+06                  2.682587e+06
max               4.396452e+07                  2.605802e+07

       OTHER_EXPENDITURE  ...     GRADES_8_G    GRADES_12_G  GRADES_1_8_G  \
count       1.715000e+03  ...    1715.000000    1715.000000  1.715000e+03
mean        4.299509e+05  ...   68106.537377   58420.870711  5.779547e+05
std         4.517421e+05  ...   76054.685450   65785.422981  5.210620e+05
min         1.154100e+04  ...    3371.000000    2572.000000  3.769800e+04
25%         1.624780e+05  ...   20518.500000   17949.000000  3.158105e+05
50%         4.299509e+05  ...   50447.000000   40774.000000  5.779547e+05
75%         4.299509e+05  ...   76719.500000   68023.000000  5.779547e+05
max         3.995951e+06  ...  500143.000000  498403.000000  3.929869e+06

       GRADES_9_12_G  GRADES_ALL_G  AVG_MATH_4_SCORE  AVG_MATH_8_SCORE  \
count   1.715000e+03  1.715000e+03       1715.000000       1715.000000
mean    2.820691e+05  9.139695e+05        236.327434        278.280731
std     2.612965e+05  1.030010e+06          5.326473          6.124894
min     1.353000e+04  6.844900e+04        192.000000        231.000000
25%     1.457900e+05  2.800010e+05        236.327434        278.280731
50%     2.820691e+05  6.809780e+05        236.327434        278.280731
75%     2.820691e+05  1.002840e+06        236.327434        278.280731
max     2.013687e+06  6.441557e+06        253.000000        301.000000

       AVG_READING_4_SCORE  AVG_READING_8_SCORE  AVG_TOTAL_REV_EXP
count          1715.000000          1715.000000       1.715000e+03
mean            218.806154           263.558719       9.154144e+06
std               4.726942             3.783105       1.023649e+07
min             179.000000           236.000000       4.736575e+05
25%             218.806154           263.558719       2.993458e+06
50%             218.806154           263.558719       8.435220e+06
75%             218.806154           263.558719       9.154144e+06
max             237.000000           280.000000       8.726870e+07

[8 rows x 24 columns]

In [19]:
# Melakukan format data pada kolom 'YEAR' dan 'ENROLL'
df['YEAR'] = df['YEAR'].astype('category')
df['ENROLL'] = pd.to_numeric(df['ENROLL'], errors='coerce')

# Menampilkan informasi data setelah di-format
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1715 entries, 0 to 1714
Data columns (total 26 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   category
 3   ENROLL                        1715 non-null   float64
 4   TOTAL_REVENUE                 1715 non-null   float64
 5   FEDERAL_REVENUE               1715 non-null   float64
 6   STATE_REVENUE                 1715 non-null   float64
 7   LOCAL_REVENUE                 1715 non-null   float64
 8   TOTAL_EXPENDITURE             1715 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1715 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1715 non-null   float64
 11  OTHER_EXPENDITURE             1715 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1715 non-null   float64
 13  GRADES_PK_G                   1715 non-null   float64
 14  GRADES_KG_G                   1715 non-null   float64
 15  GRADES_4_G                    1715 non-null   float64
 16  GRADES_8_G                    1715 non-null   float64
 17  GRADES_12_G                   1715 non-null   float64
 18  GRADES_1_8_G                  1715 non-null   float64
 19  GRADES_9_12_G                 1715 non-null   float64
 20  GRADES_ALL_G                  1715 non-null   float64
 21  AVG_MATH_4_SCORE              1715 non-null   float64
 22  AVG_MATH_8_SCORE              1715 non-null   float64
 23  AVG_READING_4_SCORE           1715 non-null   float64
 24  AVG_READING_8_SCORE           1715 non-null   float64
 25  AVG_TOTAL_REV_EXP             1715 non-null   float64
dtypes: category(1), float64(23), object(2)
memory usage: 351.3+ KB
None

In [20]:
# Melakukan deskripsi dataset
dataset_description = df.describe()

# Menampilkan deskripsi dataset
print(dataset_description)

             ENROLL  TOTAL_REVENUE  FEDERAL_REVENUE  STATE_REVENUE  \
count  1.715000e+03   1.715000e+03     1.715000e+03   1.715000e+03
mean   9.175416e+05   9.102045e+06     7.677799e+05   4.223743e+06
std    9.008956e+05   1.013847e+07     9.888707e+05   4.784665e+06
min    4.386600e+04   4.656500e+05     3.102000e+04   0.000000e+00
25%    4.646880e+05   2.992297e+06     2.602770e+05   1.618602e+06
50%    9.175416e+05   8.363904e+06     6.890720e+05   3.920971e+06
75%    9.175416e+05   9.102045e+06     7.677799e+05   4.223743e+06
max    6.307022e+06   8.921726e+07     9.990221e+06   5.090457e+07

       LOCAL_REVENUE  TOTAL_EXPENDITURE  INSTRUCTION_EXPENDITURE  \
count   1.715000e+03       1.715000e+03             1.715000e+03
mean    4.110522e+06       9.206242e+06             4.768010e+06
std     4.732787e+06       1.033950e+07             5.431992e+06
min     2.209300e+04       4.816650e+05             2.655490e+05
25%     1.162580e+06       3.004448e+06             1.570157e+06
50%     3.566484e+06       8.488521e+06             4.224716e+06
75%     4.110522e+06       9.206242e+06             4.768010e+06
max     3.610526e+07       8.532013e+07             4.396452e+07

       SUPPORT_SERVICES_EXPENDITURE  OTHER_EXPENDITURE  \
count                  1.715000e+03       1.715000e+03
mean                   2.682587e+06       4.299509e+05
std                    2.894399e+06       4.517421e+05
min                    1.399630e+05       1.154100e+04
25%                    8.996910e+05       1.624780e+05
50%                    2.503616e+06       4.299509e+05
75%                    2.682587e+06       4.299509e+05
max                    2.605802e+07       3.995951e+06

       CAPITAL_OUTLAY_EXPENDITURE  ...     GRADES_8_G    GRADES_12_G  \
count                1.715000e+03  ...    1715.000000    1715.000000
mean                 9.034675e+05  ...   68106.537377   58420.870711
std                  1.146196e+06  ...   76054.685450   65785.422981
min                  1.270800e+04  ...    3371.000000    2572.000000
25%                  2.608130e+05  ...   20518.500000   17949.000000
50%                  8.285300e+05  ...   50447.000000   40774.000000
75%                  9.034675e+05  ...   76719.500000   68023.000000
max                  1.022366e+07  ...  500143.000000  498403.000000

       GRADES_1_8_G  GRADES_9_12_G  GRADES_ALL_G  AVG_MATH_4_SCORE  \
count  1.715000e+03   1.715000e+03  1.715000e+03       1715.000000
mean   5.779547e+05   2.820691e+05  9.139695e+05        236.327434
std    5.210620e+05   2.612965e+05  1.030010e+06          5.326473
min    3.769800e+04   1.353000e+04  6.844900e+04        192.000000
25%    3.158105e+05   1.457900e+05  2.800010e+05        236.327434
50%    5.779547e+05   2.820691e+05  6.809780e+05        236.327434
75%    5.779547e+05   2.820691e+05  1.002840e+06        236.327434
max    3.929869e+06   2.013687e+06  6.441557e+06        253.000000

       AVG_MATH_8_SCORE  AVG_READING_4_SCORE  AVG_READING_8_SCORE  \
count       1715.000000          1715.000000          1715.000000
mean         278.280731           218.806154           263.558719
std            6.124894             4.726942             3.783105
min          231.000000           179.000000           236.000000
25%          278.280731           218.806154           263.558719
50%          278.280731           218.806154           263.558719
75%          278.280731           218.806154           263.558719
max          301.000000           237.000000           280.000000

       AVG_TOTAL_REV_EXP
count       1.715000e+03
mean        9.154144e+06
std         1.023649e+07
min         4.736575e+05
25%         2.993458e+06
50%         8.435220e+06
75%         9.154144e+06
max         8.726870e+07

[8 rows x 23 columns]